@use './config/config';
@import './config/variables';
@import './config/reset';
@import './config/mixin';
@import './config/typography';
@import './config/spacing';

/* Setting for the whole sheet */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #12152c;
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  color: var(--white);
  font-size: var(--h1-fontSize);
  text-align: center;
  margin-block: 4rem;
}

h2 {
  @include font-pc-header-h3;
  padding: $spacing-16;
  cursor: pointer;
}

.card-container {
  @include flex-center;
  gap: 1rem;

  div {
    @include flex-center;
    background: #30b6d5;
    border-radius: 4px;
    padding: 1rem;
    max-width: 200px;
    text-align: center;
    color: var(--white);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    aspect-ratio: 1/1;
    transition: all 0.2s ease-in-out;

    &:active {
      scale: 0.98;
    }

    &:hover {
      box-shadow: 0 0 25px 5px rgba(brightness(#30b6d5, 1.5), 0.2);
    }
  }
}
